#add-recipe-form {
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
}

.add-ingredient-section, .add-step-section {
    margin-top: 10px;
    margin-bottom: 10px;
}