html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    width: 100%;
}

.copyleft-content {
    text-align: center;
}

.btn {
    cursor:pointer;
}