html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    width: 100%;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}

.copyleft-content {
    text-align: center;
}

.btn {
    cursor:pointer;
}

#recipe-search {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}